# --- Python ---
__pycache__/
*.pyc
.venv/
venv/
env/

# --- Scala & SBT & Spark ---
target/
spark-job/project/target/
project/project/
.bsp/
.scala-build/
*.class
*.log
app-*
spark-warehouse/
metastore_db/
derby.log
spark-job/project/target/
spark-job/target/

# --- IDE (VS Code / IntelliJ) ---
.idea/
.vscode/
*.iml

# --- OS ---
.DS_Store
Thumbs.db